#main {
    border: 1px solid yellow;
    height: 400px;
    margin-top: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div {
    height: 60px;
}

.one {
    border: 1px solid red;
}


* {
    padding: 0;
    box-sizing: border-box;
    /* font-size: 5px; */
}

.one .two {
    border: 1px solid blue;
    width: 200px;
}

.main div {
    /* background-color: yellow; */
    width: 15em;
}


.one {
    background-color: green;
    }
    
    #two {
    background-color: yellow;
    /* position: absolute; */
    /* top: 40px     */
    /* top: 15px; */
}

